.header {
  width: 100%;
  height: 100vh;
  color: #f5f5f5;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.logo {
  cursor: pointer;
}

.logo__icon {
  transition: 0.3s;
}

.logo:hover .logo__icon {
  transform: translate(0, -5px);
}

.logo__bus {
  font-size: 2rem;
  text-transform: lowercase;
  font-family: "Pacifico", cursive;
}

.menu__login {
  cursor: pointer;
}

.profile_photo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
