.countup {
  width: 80%;
  margin: auto;
  text-align: center;
}

.countup__number {
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 10px;
}

.resources__icon {
    cursor: pointer;
    transition: 0.3s;
}

.resources__icon:hover {
    transform: translate(5px, -5px);
}