.footer_title {
  text-align: center;
  text-transform: uppercase;
  color: #a09f9f;
  max-width: 1000px;
  margin: auto;
  position: relative;
  letter-spacing: 0.25rem;
}

.footer_title::before {
  content: "";
  display: block;
  width: 38%;
  height: 1px;
  background: #e7e6e6;
  position: absolute;
  left: 0;
  top: 70%;
}

.footer_title::after {
  content: "";
  display: block;
  width: 38%;
  height: 1px;
  background: #e7e6e6;
  position: absolute;
  right: 0;
  top: 70%;
}

@media screen and (max-width: 768px) {
  .footer_title::before {
    width: 30%;
    height: 1px;
  }

  .footer_title::after {
    width: 30%;
    height: 1px;
  }
}

@media screen and (max-width: 412px) {
  .footer_title::before {
    width: 25%;
    height: 1px;
  }

  .footer_title::after {
    width: 25%;
    height: 1px;
  }
}

.footer_content {
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.footer_social_box {
  text-align: center;
}

.social_name {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer_social_box .row .col-lg-4 {
  cursor: pointer;
}

.footer_social_image {
  width: 1.5rem;
}

@media screen and (max-width: 412px) {
  .footer_social_box .row .col-lg-4 {
    width: 33.33%;
  }

  .footer_subscribe_box {
    text-align: right;
    margin-left: 0;
    margin-right: 0;
  }
}

a {
  color: #9b9898;
}
