.footer_title {
  text-align: center;
  text-transform: uppercase;
  color: #a09f9f;
  margin: auto;
  letter-spacing: 0.25rem;
}

.footer_content {
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.footer_social_box {
  text-align: center;
}

.social_name {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer_social_box .row .col-lg-4 {
  cursor: pointer;
}

.footer_social_image {
  cursor: pointer;
  transition: 0.3s;
}

.footer_social_image:hover {
  transform: translate(0, -5px);
}

@media screen and (max-width: 412px) {
  .footer_social_box .row .col-lg-4 {
    width: 33.33%;
  }
}

a {
  color: #9b9898;
}
