.form-floating {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.search {
  font-family: "Montserrat", sans-serif;
}

.input_section {
  transition: 0.3s;
  width: 90%;
  margin: auto;
}

.input_section:hover {
  transform: scale(1.05);
}

.nav {
  display: flex;
  justify-content: center;
}

.search__type {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

label {
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 3px;
}

.button {
  transform: translate(0, 10px);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  text-decoration: underline;
}
