.policies {
    margin-top: 2rem;
}

.policies__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.policies img {
    width: 500px;
    height: 300px;
    transition: 0.3s;
}

.policies img:hover {
    transform: scale(1.03);
    filter: grayscale(1) brightness(0.5);
}

.policies__title {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.75rem;
}